*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/nature-6842159.jpg);
    background-size: cover;
}